/*.sidenav
{
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px; 
}
*/

.sidenav
{
	width: 160px;
	margin-top: 200px;
	max-height: 800px;
	float: left;
	z-index: 1;
	left: 0;
	background-color: #C4C4C4;
	overflow-x: hidden;
	overflow-y:scroll;
	padding-top: 20px;
}

.sidenav h3
{
	color: #111;
	position: relative;
}

.sidenav a
{
	padding: 6px;
	text-decoration: none;
	font-size: 18px;
	color: #111;
	display: block;
}

.sidenav a:hover
{
	color: #8D3503;
}

#main 
{
	margin-left: 270px;
	margin-top: 200px;
	padding: 0px 10px;
}