#backg
{
	position: absolute;
	width: 100%;
	height: 100%;
    background-image: linear-gradient(180deg, #FFD127 0%, #8D3503 100%);
}
#titletext
{
	text-align: center;
	font-size: 10em;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: rgba(0, 0, 0, 0.5);
}

#loginbox
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	width: 40%;
}

#mid
{
	text-align: center;
}

#userlogin
{
	text-align: center;
	font-size: 1em;
}