
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/Login.css') }}">

	<title>Login</title>
</head>

<body >
	<div class="jumbotron" id="backg">
		<div id="titletext">
			Tagim
		</div>
	</div>
	<form>
		<div class="container">
			<div class="jumbotron" id="formbox">
				<div class="jumbotron-content">
					<form action="/" method="post" name="user_Login" id="userlogin">
						<p id="boxtitle">Login:</p>
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" class="form-control" name="username" placeholder="Username">
						</div>

						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" name="password" placeholder="Password">
						</div>

						<div>
							<input type="submit" id="loginbutton" class="btn btn-secondary btn-large">Submit</input>
						</div>
					</form>

					<form method="get" action="/register">
						<input type="submit" id="registerbutton" class="btn btn-secondary btn-large">Go to Register</input>
					</form>
  					<p style="text-align: center; color: red" id="errortext">{{ error }}</p>
				</div>
			</div>
		</div>
	</form>

</body>
</html>